body {
    font-family: Arial, sans-serif;
    background: url(./3yhrmu-denmark-zima-zakat.jpg) center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    outline: none;
}

.weather-container {
    background: linear-gradient( 320deg, #7d20e7, #5f5b81);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.weather-container h1 {
    background: linear-gradient(to right, #b15493, #5964f6);
    color: white;
    border-radius: 12px;
}

.weather-container input {
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.weather-container button {
    padding: 10px 20px;
    border: none;
    background: linear-gradient(to right, #b15493, #5964f6);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.weather-container button:hover {
    background-color: #0056b3;
}

.weather-info {
    margin-top: 20px;
}

.weather-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.weather-info p {
    font-size: 18px;
    margin: 5px 0;
}